<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FileDownload</title>
</head>
<h1>Report generation Dashboard</h1>
<fieldset>
    <body>
        <!--button type="submit">Click here to Download report</button-->
        <!--button onclick="document.getElementById('link').click()">Download!</button-->
        <!--button onclick="document.getElementById('http://localhost:8000/login/file_download/').click()">Download!</button-->
        <a href="/file_download/" target="blank"><button class='btn btn-default'>Download</button></a>
        <!--a href="file_download/" download hidden></a-->

        <button type="submit">Cancel</button>
        <a href="/logout/" target="blank"><button type="submit">Logout</button></a>
    </body>

</fieldset>

</html>