<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/static/data.json"></script>
	<script type="text/javascript" src="/static/app.js"></script>
</head>
<h1>Welcome to Report Generation Tool</h1>
<body>
    <h5 for="c_name">Customer name/SID</h5>
    <select id="Selector" name="c_name" class="form-control" onclick="load();"></select>
<form id="login-form" method="post" action="{% url 'input_data' %}"> {% csrf_token %}
<input type="submit" value="Generate Report" class="btn btn-primary pull-right"/>
<input type="reset" value="Reset" class="btn btn-primary pull-right" />
    <p><a href="/home">Home</a>
        <a href="/logout">Logout</a></p>
</form>
</body>
</html>